*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.main-header{
    padding: 1rem 0;

    background-color: #3161e0;
}

.centered-container{
    width: 80%;

    margin: 0 auto;

    text-align: center;

}

.main-header .logo{
    float: left;

    transform: translate(0, -6px);

    padding: .5rem;

}

.nav-menu{
    display: inline-block;

    margin: 0 auto;
}

.nav-menu ul{
    list-style: none;
}

.nav-menu li{
    display: inline-block;
}

.header-link{
    display: inline-block;

    vertical-align: middle;
    
    padding: .5rem;

    margin-right: 1rem;

    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;

    color: white;
}

.header-link:hover{
    text-decoration: underline;
}


.login{
    float: right;

    margin-right: 0;
    padding: .5rem;

    color: black;

    background-color: white;
    border-radius: 1.5rem;
}

.login:hover{
    text-decoration: none;
}